@import url('https://fonts.googleapis.com/css2?family=Spartan:wgh@100;200;300;400;500;600;700;800;900;&diplay=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 50px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;

}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #3c4843;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border:none;
    outline: none;
    transition:0.2 ;
}

body {
    width: 100%;
}

#header {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #fcf3ea;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color:rgba(84, 56, 45, 0.71) ;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: rgba(84, 56, 45, 0.71);
    position: absolute;
    bottom: -4px;
    left: 20px;


}

#hero {
    background-image: url("image/shutterstock_1845326779.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
#hero h4{
    padding-top: 40px;
    padding-bottom: 15px;
    font-size: 30px;


}
#hero h2{
    font-size: 60px;
    padding-bottom: 30px;
}
#hero h1{
   color: #ffffff ;
   font-size: 90px;
}
#hero button{
    background-image: url("image/button.png");
    background-color: transparent;
    color:#fcf3ea ;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    font-size: 20px;


}
#feature{
    display: flex;
    align-items: center;
justify-content:space-between ;
flex-wrap: wrap;
}
#feature .feature-box{
width: 180px;
text-align: center;
padding: 25px 15px;
box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
border: 1px solid #a08c76;
border-radius: 10px;
margin: 15px 0;
}

#feature .feature-box:hover{
box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .feature-box h6{
    display:inline-block;
    font-size: 15px;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: rgba(142, 94, 75, 0.596) ;
    background-color: antiquewhite;
}
#feature .feature-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .feature-box:nth-child(3) h6{
    background-color: #d1e8f2;
}
#feature .feature-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feature .feature-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feature .feature-box:nth-child(6) h6{
    background-color: #fff2e5;
}

#product1{
    text-align: center;
}

#product1 .product{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid rgba(222, 222, 222, 0.49);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0px;
    transition: 1s ease;
    position: relative;
}

#product1 .product:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);

}


#product1 .product img{
    width: 100%;
    border-radius: 20px;
}

#product1 .product .des{
    text-align: start;
    padding: 10px 0;


}
#product1 .product .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .product .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;

}

#product1 .product .des i{
font-size: 12px;
color: #FDCC0D;
}

#product1 .product .des h5{
padding-top: 7px;
font-size: 25px;
font-weight: 700;
color: #a08c76;
}

#product1 .product .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #a08c76;
    border: 1px solid  antiquewhite ;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#product1 .pro-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
#banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;



}
#banner button{
    color: #a08c76;
}
#banner h4{
    color: #fff;
    font-size: 16px;

}

#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;

}
#banner h2 span{
    color: red;
    font-size: 30px;
}
#banner button:hover{
    background-color: #a08c76;
    color: #fff;
}


#sm-banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
    

}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    background-image: url("banner/b17.jpg");
    min-width:  580px;
    height: 50vh;
    width: 49%;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300px;
}

#sm-banner h2 {

    color: #fff;
    font-size: 28px;
    font-weight: 800px;
}

#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

button.white{
    font-size: 14px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition:0.2s ease ;

}
#sm-banner .banner-box:hover button{
    color: #fff;
    background-color: #088178;
}
#sm-banner .banner-box2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    background-image: url("banner/b10.jpg");
    min-width: 580 px;
    height: 50vh;
    width: 49%;
    background-size: cover;
    background-position: center;
     padding: 30px;
    
}
#sm-banner .banner-box2:hover button{
    color: #fff;
    background-color: #088178;
}
#sm-banner .banner-box2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    background-image: url("banner/b10.jpg");
    min-width:  580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#banner3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 80px;
}
#banner3 .banner-box3{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    background-image: url("banner/b7.jpg");
    min-width:  30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
#banner3 .banner-box4{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    background-image: url("banner/b4.jpg");
    min-width:  30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
#banner3 .banner-box5{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    background-image: url("banner/b18.jpg");
    min-width:  30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    
}
#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
    
}
#banner3 h3{
    color: #bcf318;
    font-weight: 800;
    font-size: 15px;  
}

#newletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("banner/b14.png");
    
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #725d47;
}

#newletter h2{
    font-size: 30px;
    font-weight: 700px;
    color: white;
}
#newletter p{
    font-size: 20px;
    font-weight: 600px;
    color: #baa186;
}
#newletter p span{
    color: rgb(255, 207, 49);
}
#newletter input{
    height: 3.124rem;
    padding: 0 1.25em;
    font-size: 20px;
    width:100%;
    border: 1px solid transparent;
    outline: none;
    border-radius: 20px;
}
#newletter .email{
    display: flex;
    justify-content: center;
    align-items: right;
}
#newletter button {
    font-size: 20px;
    background-color: #a08c76;
    color: white;
    margin-left: 10px;
    height: 3.124rem;
    width: 200px;
    border-radius: 20px;
    border: 0;
    transition: 0.1s ease;
    
}
 
#newletter .signup:hover{
background-color: white;
cursor: pointer;
color: #a08c76;
}
